<a href="https://colab.research.google.com/github/shivaVinayak319/python_class/blob/main/Python_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 1
1.	Basic Python Programming
o	Demonstrate the use of variables, lists, dictionaries, loops, and conditional statements.
o	Write at least one reusable function that performs a task relevant to your analysis.

In [ ]:
# variable declaration
x = 10
y= 20
z = x +y
print(z)

30

lists

In [ ]:
list=[10,20,30,40,50,60,70,80]
print(list)
list.append(90)
print(list)
list.extend([100,110])
print(list)
list.insert(0,20)
print(list)
b=list.count(20)
print(b)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
[20, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
2

dictionaries

In [ ]:
my_profile ={
    "name":"krishna_kumar",
    "lastname":"cuttambakkam_somsasundar",
    "DOB":"25/07/1987",
    "age":"37",
    "GENDER":"MALE"
}
print(my_profile)

{'name': 'krishna_kumar', 'lastname': 'cuttambakkam_somsasundar', 'DOB': '25/07/1987', 'age': '37', 'GENDER': 'MALE'}

for loop

In [ ]:
x = 10
y = 50
z= 0
for x in range (10):
     z = x*2
     print(f"the value of {z}")
print("exiting the loop")

the value of 0
the value of 2
the value of 4
the value of 6
the value of 8
the value of 10
the value of 12
the value of 14
the value of 16
the value of 18
exiting the loop

while loop

In [ ]:
x=0
while x < 20:
 x= x+3
 # while statement exit the loop
print(x)

21

conditional statements

In [ ]:
#if statements
x=[10,20,30,40,50,60]
y= 60
if y in x:
  a = x.index(y)
  print(a)
# if else statements
a=0
if y > x[a]:
  a = a+1
  print("y is greater than x")
else:
  print("x is greater than y")

5
y is greater than x

importing pandas

In [ ]:
import pandas as pd

In [4]:
#reading the results file
football_results = pd.read_csv("https://raw.githubusercontent.com/shivaVinayak319/python_class/main/results.csv", delimiter=',')
print(football_results.to_string())

NameError: name 'pd' is not defined

selecting only the tournament fifa world cup

In [ ]:
FIFA_Qualifier = football_results.groupby("tournament")

choosing the teams

In [ ]:
list_of_teams_A= FIFA_Qualifier.get_group("FIFA World Cup qualification")

printing out the fifa world cup qualification teams

In [ ]:
A = len(list_of_teams_A)
print(A)
##print(list_of_teams.to_string())

8268

In [ ]:
list_of_teams_B = FIFA_Qualifier.get_group("FIFA World Cup")
B = len(list_of_teams_B)
print(B)

964

In [ ]:
list_of_teams_C = FIFA_Qualifier.get_group("UEFA Euro")
C = len(list_of_teams_C)
print(C)

388

In [ ]:
list_of_teams_D = FIFA_Qualifier.get_group("British Home Championship")
D = len(list_of_teams_D)
print(D)

517

In [ ]:
list_of_teams_E = FIFA_Qualifier.get_group("CONIFA World Football Cup")
E = len(list_of_teams_E)
print(E)

101

In [ ]:
list_of_teams_F = FIFA_Qualifier.get_group("UEFA Nations League")
F = len(list_of_teams_F)
print(F)

630

In [2]:
filtered_rows = football_results[football_results["tournament"] != "Friendly"]
a = len(filtered_rows)
print(a)
##print(filtered_rows.to_string())

NameError: name 'football_results' is not defined

In [1]:
unique_rows = football_results.drop_duplicates(subset="home_team")
##First_group = football_results.groupby("home_team")
unique_values = set(football_results["home_team"].unique())
for value in unique_values:
  a = a+1
  print(value)
print(a)
  ##country = First_group.get_group(value)
  ##print(country.to_string())

NameError: name 'football_results' is not defined